Repository zehraworks/travel.log: changes, and which lint-staged commands are due for each by the changed paths.
All: npx next lint --fix --max-warnings=0, npx prettier --write

feat: add signup functionality
  app/(auth)/signup/form.jsx
  app/(auth)/signup/page.jsx
  app/api/auth/signup/route.js
  app/api/auth/uniqueName/route.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

style: signin page view
  app/(auth)/signin/form.jsx
  app/(auth)/signin/page.jsx
  app/components/Footer.jsx
  app/components/NavMenu.jsx
  app/components/Navbar.jsx
  app/components/auth/GithubSignInButton.jsx
  app/components/auth/GoogleSignInButton.jsx
  app/globals.css
  components/ui/button.jsx
  package-lock.json
  package.json
  public/tour.png
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

style: signin signup styling
  app/(auth)/signin/form.jsx
  app/(auth)/signin/page.jsx
  app/(auth)/signup/form.jsx
  app/(auth)/signup/page.jsx
  app/components/NavMenu.jsx
  app/globals.css
  components/ui/input.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: text size and space
  app/(auth)/signup/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

chore: folder structure
  app/(pages)/(auth)/GithubButton.jsx
  app/(pages)/(auth)/GoogleButton.jsx
  app/(pages)/(auth)/signin/form.jsx
  app/(pages)/(auth)/signin/page.jsx
  app/(pages)/(auth)/signup/form.jsx
  app/(pages)/(auth)/signup/page.jsx
  app/(pages)/map/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: add place
  app/(pages)/map/page.jsx
  app/api/auth/[...nextauth]/route.js
  app/api/pinned-location/addPlace/route.js
  app/components/map/PlaceSearch.jsx
  app/components/map/TripForm.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: pinned location schema
  prisma/schema.prisma
Due: none

chore: add use places auto complete package
  package-lock.json
  package.json
Due: npx prettier --write

fix: script
  app/layout.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: apis of pinned location
  app/api/pinned-location/addPlace/route.js
  app/api/pinned-location/deletePlace/route.js
  app/api/pinned-location/getPlaces/route.js
  app/components/map/Map.jsx
  app/components/map/PlaceSearch.jsx
  app/components/map/TripForm.jsx
  app/components/map/index.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

style: marker style
  public/dot.svg
Due: npx prettier --write

config: next
  next.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: prisma schema
  prisma/schema.prisma
Due: none

fix: model pinned location
  prisma/schema.prisma
Due: none

chore: rename env file
  .env.sample
Due: none

config: update image domains to remotePatterns
  next.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

config: add editor.js
  package-lock.json
  package.json
Due: npx prettier --write

feat: integrate editor
  app/(pages)/post/[placeId]/Editor.jsx
  app/(pages)/post/[placeId]/page.jsx
  app/api/post/createPost/route.js
  app/api/post/deletePost/route.js
  app/api/post/getPost/route.js
  app/components/map/Map.jsx
  app/globals.css
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: post apis integration
  app/(pages)/post/Editor.jsx
  app/(pages)/post/[placeId]/page.jsx
  app/api/post/createPost/route.js
  app/api/post/deletePost/route.js
  app/api/post/getPosts/route.js
  app/components/map/Map.jsx
  app/layout.jsx
  context/postContext.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: schema
  prisma/schema.prisma
Due: none

fix: key
  app/components/map/Map.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: switch ui lib to mantine
  app/(pages)/(auth)/GithubButton.jsx
  app/(pages)/(auth)/GoogleButton.jsx
  app/(pages)/(auth)/signin/form.jsx
  app/(pages)/(auth)/signup/form.jsx
  app/(pages)/(auth)/signup/page.jsx
  app/components/NavMenu.jsx
  app/components/map/PlaceSearch.jsx
  app/components/map/TripForm.jsx
  app/layout.jsx
  app/page.jsx
  components/ui/button.jsx
  components/ui/dropdown-menu.jsx
  components/ui/form.jsx
  components/ui/input.jsx
  components/ui/label.jsx
  components/ui/toast.jsx
  components/ui/toaster.jsx
  components/ui/use-toast.js
  lib/utils.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: export
  app/api/auth/[...nextauth]/route.ts
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: type mismatches
  app/components/map/Map.tsx
  app/components/map/TripForm.tsx
  app/components/map/index.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: tailwind.config
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

style: navbar with mantine
  app/(pages)/aboutUs/page.tsx
  app/(pages)/blog/page.tsx
  app/(pages)/profile/[userName]/page.tsx
  app/components/NavMenu.tsx
  app/globals.css
  app/layout.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: draft
  app/(pages)/profile/[userName]/page.tsx
  app/components/Header.tsx
  app/components/map/Map.tsx
  app/components/map/PlaceSearch.tsx
  app/components/map/TripForm.tsx
  app/components/map/index.tsx
  app/components/profile/PlaceCard.tsx
  app/components/profile/ProfileAvatar.tsx
  app/components/profile/UserMeta.tsx
  app/layout.tsx
  public/profile-bg-cover.png
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: complete user page
  app/(pages)/profile/[userName]/page.tsx
  app/components/map/Map.tsx
  app/components/map/PlaceSearch.tsx
  app/components/map/TripForm.tsx
  app/components/map/index.tsx
  app/components/profile/PlaceCard.tsx
  app/components/profile/ProfileAvatar.tsx
  app/components/profile/UserMeta.tsx
  public/dot.svg
  public/map-pin.svg
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: missing dependency
  app/(pages)/post/[placeId]/page.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: eslint rule
  app/components/Header.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: draft
  app/components/Header.tsx
  app/components/home/AboutUs.tsx
  app/components/home/Intro.tsx
  app/components/home/JoinOurNewsletter.tsx
  app/components/home/OurBlog.tsx
  app/components/home/index.tsx
  app/layout.tsx
  app/page.tsx
  public/lamp.png
  public/logo-dark.png
  public/logo-white.png
  public/logo.svg
  public/worldMap.png
  public/worldMap.svg
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: hompage
  app/components/home/AboutUs.tsx
  app/components/home/Card.tsx
  app/components/home/Intro.tsx
  app/components/home/JoinOurNewsletter.tsx
  app/components/home/LocationIcon.tsx
  app/components/home/OurBlog.tsx
  app/components/home/index.tsx
  next.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: footer
  app/components/Footer.tsx
  app/layout.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: dark-light mode color modification
  app/components/home/AboutUs.tsx
  app/components/home/Card.tsx
  app/components/home/JoinOurNewsletter.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: signup page styling
  app/(pages)/(auth)/GithubButton.tsx
  app/(pages)/(auth)/GoogleButton.tsx
  app/(pages)/(auth)/signup/form.tsx
  app/(pages)/(auth)/signup/page.tsx
  app/components/Footer.tsx
  app/layout.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

chore: remove signin
  app/(pages)/(auth)/signin/form.tsx
  app/(pages)/(auth)/signin/page.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: form padding
  app/(pages)/(auth)/signup/page.tsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

draft: signin bug
  app/(pages)/(auth)/signup/form.tsx
  app/api/checkEmail/route.ts
  app/lib/auth.ts
  prisma/schema.prisma
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: auth signin signup
  app/(pages)/(auth)/GithubButton.tsx
  app/(pages)/(auth)/GoogleButton.tsx
  app/(pages)/(auth)/signin/form.tsx
  app/(pages)/(auth)/signin/page.tsx
  app/(pages)/(auth)/signup/page.tsx
  app/api/checkEmail/route.ts
  app/lib/auth.ts
Due: npx next lint --fix --max-warnings=0, npx prettier --write

Path conditions:
  npx next lint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{js,jsx,ts,tsx,css,svg,json,md}
