Repository zehraworks/travel.log: changes, and which lint-staged commands are due for each by the changed paths.
All: npx next lint --fix --max-warnings=0, npx prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npx next lint --fix --max-warnings=0"],
  "*.{js,jsx,ts,tsx,css,svg,json,md}": ["npx prettier --write"]
}

config: create prisma connection and models
  package-lock.json
  package.json
  prisma/index.js
  prisma/schema.prisma
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: update prisma schemas
  prisma/schema.prisma
Due: none

fix: eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: npx prettier --write

fix: page names
  app/layout.js
  app/layout.jsx
  app/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

config: husky pre-commit
  .husky/pre-commit
Due: none

config: update gitignore
  .gitignore
Due: none

refactor: delete useless codes
  app/favicon.ico
  app/globals.css
  app/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: prisma schemas and prisma client
  prisma/index.js
  prisma/schema.prisma
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: create connect to db func
  helpers/server.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: registration credentials
  app/api/auth/register/route.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: update models
  prisma/schema.prisma
Due: none

Update layout.jsx
  app/layout.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat : delete description
  .husky/pre-commit
  app/layout.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

build landing page example
  app/assets/leather-notebook.png
  app/assets/notebook.png
  app/assets/passport.png
  app/assets/pins.png
  app/assets/world.png
  app/components/Footer.jsx
  app/components/Navbar.jsx
  app/globals.css
  app/layout.jsx
  app/page.jsx
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fixed naming
  app/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix indenting
  app/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix spelling
  app/page.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

config: add next-auth on project
  package-lock.json
  package.json
Due: npx prettier --write

feat: update schema
  prisma/schema.prisma
Due: none

feat: add authentication
  app/api/auth/[...nextauth]/route.js
  app/components/NavMenu.jsx
  app/components/SessionProvier.jsx
  app/layout.jsx
  next.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: schema
  prisma/schema.prisma
Due: none

config: migrate next from v13 to v14
  package-lock.json
  package.json
Due: npx prettier --write

config: shadcn installation
  app/components/Signup.jsx
  app/globals.css
  app/signup/page.jsx
  components.json
  components/ui/button.jsx
  components/ui/form.jsx
  components/ui/input.jsx
  components/ui/label.jsx
  lib/utils.js
  package-lock.json
  package.json
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: add signup route
  app/api/signup/route.js
  app/components/Signup.jsx
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

config: prisma generate
  package.json
Due: npx prettier --write

fix: packages
  package-lock.json
Due: npx prettier --write

style: navbar
  app/components/NavMenu.jsx
  app/components/Navbar.jsx
  app/layout.jsx
  public/logo.svg
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: google-map integration
  .gitignore
  app/map/page.jsx
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: add signup route
  app/api/auth/signup/route.js
  app/api/signup/route.js
  app/components/Signup.jsx
  lib/serverHelpers.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

fix: signin
  app/api/auth/[...nextauth]/route.js
  app/components/NavMenu.jsx
  app/globals.css
  components.json
  components/ui/dropdown-menu.jsx
  lib/utils.js
  package-lock.json
  package.json
  tailwind.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: map search places
  app/components/map/Map.jsx
  app/components/map/PlaceSearch.jsx
  app/components/map/TripForm.jsx
  app/components/map/index.jsx
  app/layout.jsx
  app/map/page.jsx
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: update signup page
  app/api/auth/signup/route.js
  app/components/Signup.jsx
  app/signup/page.jsx
  components/ui/input.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: input validation with zod
  app/components/Signup.jsx
  helpers/inputValidation.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: update signup page
  app/api/auth/signup/route.js
  app/components/Signup.jsx
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: update signup
  app/api/auth/signup/route.js
  app/components/Signup.jsx
  helpers/setTokenCookie.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

chore: create sample env file
  .env.local.sample
  commitlint.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

chore: install Zod library
  package-lock.json
  package.json
Due: npx prettier --write

feat: draft of auth
  app/(auth)/signin/page.jsx
  app/api/auth/[...nextauth]/route.js
  app/api/auth/signin/route.js
  app/components/NavMenu.jsx
  app/components/SessionProvider.jsx
  app/components/auth/GithubSignInButton.jsx
  app/components/auth/GoogleSignInButton.jsx
  app/layout.jsx
  next.config.js
Due: npx next lint --fix --max-warnings=0, npx prettier --write

chore: packages
  components/ui/button.jsx
  components/ui/form.jsx
  components/ui/input.jsx
  components/ui/label.jsx
  components/ui/toast.jsx
  components/ui/toaster.jsx
  components/ui/use-toast.js
  package-lock.json
  package.json
Due: npx next lint --fix --max-warnings=0, npx prettier --write

feat: add signin functionality
  app/(auth)/signin/form.jsx
  app/(auth)/signin/page.jsx
  app/api/auth/signin/route.js
  app/components/NavMenu.jsx
  app/components/auth/GoogleSignInButton.jsx
Due: npx next lint --fix --max-warnings=0, npx prettier --write
